/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');


/* ---------------------
** Global CSS
---------------------- */
*{
    padding: 0;
    margin: 0;
}
body{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}
h4{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.btn{
    background-color: #3D4FF3;
    color: #fff;
    padding: 10px 30px;
    border-radius: 7px;
}
.btn:hover{
    background-color: #2f3fd1;
    color: #fff;
}
.secondLine{
    display: grid;
}
.content{
    padding: 0px 10px;
    overflow: hidden;
}

/* Products */
.products{
    margin-bottom: 60px;
}
.section-title{
    padding: 30px 0px;
}
.product{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s ease;
}
.product:hover{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 14%);
}
.productImg{
    background-color: #F1F1F1;
    border-radius: 20px;
}
.formaShoes .product .productImg{
    background-color: transparent;
}
.products .title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
    margin-top: 20px;
}
.products .action h2{
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #FA804C;
}

/* ---------------------
** Header CSS
---------------------- */
header{
    background-color: #FFF9F4;
    padding-bottom: 80px;
}
.headerBlur{
    padding: 16px 0px;
    transition: color 350ms ease,background-color 350ms ease;
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}
.navbar-brand img{
    width: 300px;
}

/* ---------------------
** Hero
---------------------- */
.hero{
    padding-top: 120px;
    overflow: hidden;
}
.heroContent{
    margin-left: 100px;
    width: 70%;
}
.heroContent .spacial{
    color: #FA804C;
}

/* ---------------------
** Benefit
---------------------- */
.benefit{
    padding: 80px 0px 150px 0px;
}
.benefit .box{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 15px 30px 15px 20px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}
.benefit .box:hover{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 14%);
}
.benefit .box img{
    width: 55px;
    height: 55px;
}
.benefit .box .content{
    margin-left: 20px;
}

/* ---------------------
** Footer
---------------------- */
footer{
    background-color: #0A0826;
    padding: 50px 0px;
}
.company-name h1{
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 20px;
}
.copyright p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    
}
.social-icon{
    margin-top: 25px;
}
.social-icon .fab{
    color: #fff;
    background-color: #22213C;
    padding: 15px;
    border-radius: 50px;
    transition: 0.3s ease;
}
.social-icon .fab:hover{
    color: #1e1d3b;
    background-color: #fff;
}

/* ================================================
** CSS Media Queries for Desktop, Tablet, Mobile
=================================================== */
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    main {
        padding: 0px 10px;
    }

    /* ---------------------
    ** Header
    ---------------------- */
    .navbar-brand{
        width: 70%;
    }
    .navbar-brand img{
        width: 250px;
    }

    /* ---------------------
    ** Hero
    ---------------------- */
    .heroContent{
        margin-left: 0px;
        margin-top: 50px;
        width: 100%;
        padding: 0px 30px 0px 10px;
    }
    .hero img{
        width: 95%;
    }
    .heroContent h1{
        font-size: 60px;
    }

    /* Benefit */
    .benefit{
        padding: 30px 0px 30px 0px;
    }
    .benefitImg{
    margin-top: 50px;
    }
    
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    /* ---------------------
    ** Hero
    ---------------------- */
    .heroContent{
        margin-left: 0px;
        margin-top: 5 0px;
        width: 100%;
    }
    
  }